/*
    Custom styles

    Author : Xanders Samoth | https://teams.xsamtech.com/xanderssamoth
*/

/* typography */
pre {
    font-family: inherit !important;
    font-size: inherit !important;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

a {
    color: var(--bs-primary);
}

textarea {
    resize: none;
}

/********** Custom colors **********/
/* background */
.strt-bg-chocolate-1 {
    background-color: #dfac3d !important;
}

.strt-bg-chocolate-1-transparent {
    background-color: rgba(223, 172, 61, 0.5) !important;
}

.strt-bg-chocolate-2 {
    background-color: #b67915 !important;
}

.strt-bg-chocolate-2-transparent {
    background-color: rgba(182, 121, 21, 0.5) !important;
}

a.strt-bg-chocolate-2-transparent:hover {
    transition: .3s;
    background-color: rgba(182, 121, 21, 0.7) !important;
}

.strt-bg-chocolate-3 {
    background-color: #732f0b !important;
}

.strt-bg-chocolate-3-transparent {
    background-color: rgba(115, 47, 11, 0.5) !important;
}

a.strt-bg-chocolate-3-transparent:hover {
    transition: .3s;
    background-color: rgba(115, 47, 11, 0.7) !important;
}

.strt-bg-green {
    background-color: #04471a !important;
}

.strt-bg-green-transparent {
    background-color: rgba(4, 71, 26, 0.5) !important;
}

a.strt-bg-green-transparent:hover {
    transition: .3s;
    background-color: rgba(4, 71, 26, 0.7) !important;
}

.strt-bg-black {
    background-color: #000 !important;
}

.strt-bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* button */
.strt-btn-chocolate-1 {
    background-color: #dfac3d !important;
    color: #000 !important;
    border-color: #cf9f38 !important;
}

.strt-btn-chocolate-1:hover {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #000 !important;
}

.strt-btn-chocolate-2 {
    background-color: #b67915 !important;
    color: #fff !important;
    border-color: #a76e13 !important;
}

.strt-btn-chocolate-2:hover {
    background-color: #000 !important;
    border-color: #000 !important;
}

.strt-btn-chocolate-3 {
    background-color: #732f0b !important;
    color: #fff !important;
    border-color: #662a0a !important;
}

.strt-btn-chocolate-3:hover {
    background-color: #000 !important;
    border-color: #000 !important;
}

.strt-btn-green {
    background-color: #04471a !important;
    color: #fff !important;
    border-color: #033b16 !important;
}

.strt-btn-green:hover {
    background-color: #000 !important;
    border-color: #000 !important;
}

.strt-btn-black {
    background-color: #333 !important;
    color: #fff !important;
    border-color: #000 !important;
}

.strt-btn-black:hover {
    background-color: #000 !important;
    border-color: #000 !important;
}

/* text */
.strt-text-chocolate-1 {
    color: #dfac3d !important;
}

a:hover.strt-text-chocolate-1 {
    color: #cf9f38 !important;
}

.strt-text-chocolate-2 {
    color: #b67915 !important;
}

a:hover.strt-text-chocolate-2 {
    color: #a76e13 !important;
}

.strt-text-chocolate-3 {
    color: #732f0b !important;
}

a:hover.strt-text-chocolate-3 {
    color: #662a0a !important;
}

.strt-text-green {
    color: #04471a !important;
}

a:hover.strt-text-green {
    color: #033b16 !important;
}

/* paragraph */
.strt-line-height-1 {
    line-height: 1;
}

.strt-line-height-1_4 {
    line-height: 1.4;
}

.strt-line-height-1_45 {
    line-height: 1.45;
}

.strt-line-height-1_5 {
    line-height: 1.5;
}

/********** Custom bootstrap components **********/
/* button */
.btn {
    font-size: 11pt;
}

/* stretched link */
.card-body+.stretched-link::after {
    background-color: rgba(70, 100, 150, 0.2) !important;
    opacity: 0;
    transition: .3s;
}

.card-body+.stretched-link.changed::after {
    opacity: 1;
}


/* A modal over another modal */
.modal:nth-of-type(even) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

/********** Miscellaneous **********/